# NeonDB connection string (get from Neon dashboard)
DATABASE_URL=postgresql://neondb_owner:npg_7RpzUdH4FiWu@ep-shiny-frost-aby2lcyo-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=5000
